<a href="https://colab.research.google.com/github/irinaachikhmina/Triplexes/blob/main/1_05_Data_preprocessing_his%2Ctf%2Cpol%2Cdns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data mining and preprocessing: preprocessing of regulatory data from ChIP-Atlas(histone marks, TFs, Pol, DNase - sorting, filtering)

##Imports

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install -q condacolab
import condacolab
condacolab.install()

In [ ]:
!pip install ray

In [ ]:
!conda install -c bioconda pyranges

In [ ]:
import pandas as pd
import pyranges as pr

##DNase

###Reading data

Data from Chip-Atlas, downloading is in a seperate file.

In [ ]:
dns = pd.read_pickle('/content/drive/MyDrive/Triplexes/data/dns.pickle')
dns = pd.DataFrame(dns, columns=['Chromosome', 'Start', 'End', 'Factor', 'Cell_type', 'Score'])
dns.head()

  Chromosome  Start    End     Factor                         Cell_type Score
0       chr1  10005  10323  DNase-Seq  B-cell_BRACKETLCD19PULUSBRACKETR   311
1       chr1  10006  10448  DNase-Seq  B-cell_BRACKETLCD19PULUSBRACKETR   335
2       chr1  10007  10490  DNase-Seq  B-cell_BRACKETLCD19PULUSBRACKETR   541
3       chr1  10011  10430  DNase-Seq  B-cell_BRACKETLCD19PULUSBRACKETR   168
4       chr1  10366  10455  DNase-Seq  B-cell_BRACKETLCD19PULUSBRACKETR   118

In [ ]:
dns_pr = pr.PyRanges(dns)

###Sorting

In [ ]:
dns_pr = dns_pr.sort(nb_cpu=2)

###Filtering for black-listed regions

In [ ]:
!gdown https://github.com/Boyle-Lab/Blacklist/raw/master/lists/hg38-blacklist.v2.bed.gz

Downloading...
From: https://github.com/Boyle-Lab/Blacklist/raw/master/lists/hg38-blacklist.v2.bed.gz
To: /content/hg38-blacklist.v2.bed.gz
100% 5.87k/5.87k [00:00<00:00, 8.09MB/s]

In [ ]:
blacklist = pr.read_bed('/content/hg38-blacklist.v2.bed.gz')
dns_pr = dns_pr.subtract(blacklist, nb_cpu=2)
len(dns_pr)

886352

In [ ]:
dns_pr.to_csv('/content/drive/MyDrive/Triplexes/data/omics_raw/dns.bed', sep="\t", header=True)

In [ ]:
del dns_pr

##RNA polymerase

###Reading data

Data from Chip-Atlas, downloading is in a seperate file.

In [ ]:
pol = pd.read_pickle('/content/drive/MyDrive/Triplexes/data/pol.pickle')
pol = pd.DataFrame(pol, columns=['Chromosome', 'Start', 'End', 'Factor', 'Cell_type', 'Score'])
pol.head()

  Chromosome   Start     End Factor Cell_type Score
0       chr1  199709  199864    RNA   B_cells    96
1       chr1  778292  778786    RNA   B_cells   928
2       chr1  778895  779057    RNA   B_cells   182
3       chr1  827186  827500    RNA   B_cells   292
4       chr1  827634  827806    RNA   B_cells   223

In [ ]:
pol_pr = pr.PyRanges(pol)

###Sorting

In [ ]:
pol_pr = pol_pr.sort(nb_cpu=2)

###Filtering for black-listed regions

In [ ]:
pol_pr = pol_pr.subtract(blacklist, nb_cpu=2)
len(pol_pr)

2216863

In [ ]:
pol_pr.to_csv('/content/drive/MyDrive/Triplexes/data/omics_raw/pol.bed', sep="\t", header=True)

In [ ]:
del pol_pr

##Transcription factors and others

###Reading data

Data from Chip-Atlas, downloading is in a seperate file.

In [ ]:
tf = pr.read_bed('/content/drive/MyDrive/Triplexes/data/tf.bed')

###Sorting

In [ ]:
tf = tf.sort(nb_cpu=2)

###Filtering for black-listed regions

In [ ]:
tf = tf.subtract(blacklist, nb_cpu=2)
len(tf)

9205104

In [ ]:
tf.to_csv('/content/drive/MyDrive/Triplexes/data/tf.bed', sep="\t", header=True)

In [ ]:
del tf

##Histone marks

###Reading data

Data from Chip-Atlas, downloading is in a seperate file.

In [ ]:
his = pr.read_bed('/content/drive/MyDrive/Triplexes/data/his.bed')

###Sorting

In [ ]:
his = his.sort(nb_cpu=2)

###Filtering for black-listed regions

In [ ]:
his = his.subtract(blacklist)
len(his)

27127604

In [ ]:
his.to_csv('/content/drive/MyDrive/Triplexes/data/his.bed', sep="\t", header=True)