<a href="https://colab.research.google.com/github/irinaachikhmina/Triplexes/blob/main/1_09_Data_preprocessing_mm_his%2Ctf%2Cpol%2Cdns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Omics data - histone marks, TFs, Pol, DNase - sorting, filtering

##Imports

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install -q condacolab
import condacolab
condacolab.install()

In [ ]:
!pip install ray

In [ ]:
!conda install -c bioconda pyranges

In [ ]:
import pandas as pd
import pyranges as pr

##DNase

###Reading data

Data from Chip-Atlas, downloading is in a seperate file.

In [ ]:
dns = pd.read_pickle('/content/drive/MyDrive/Triplexes/mm/data/dns.pickle')
dns = pd.DataFrame(dns, columns=['Chromosome', 'Start', 'End', 'Factor', 'Cell_type', 'Score'])
dns.head()

  Chromosome    Start      End     Factor Cell_type Score
0       chr1  3139159  3139330  DNase-Seq   B_cells   260
1       chr1  4768481  4768651  DNase-Seq   B_cells   248
2       chr1  4768519  4768593  DNase-Seq   B_cells   192
3       chr1  4769968  4770144  DNase-Seq   B_cells   253
4       chr1  4770040  4770111  DNase-Seq   B_cells   161

In [ ]:
dns_pr = pr.PyRanges(dns)

###Sorting

In [ ]:
dns_pr = dns_pr.sort(nb_cpu=2)

###Filtering for black-listed regions

In [ ]:
!gdown https://github.com/Boyle-Lab/Blacklist/raw/master/lists/mm10-blacklist.v2.bed.gz

Downloading...
From: https://github.com/Boyle-Lab/Blacklist/raw/master/lists/mm10-blacklist.v2.bed.gz
To: /content/mm10-blacklist.v2.bed.gz
100% 30.4k/30.4k [00:00<00:00, 34.7MB/s]

In [ ]:
blacklist = pr.read_bed('mm10-blacklist.v2.bed.gz')

In [ ]:
dns_pr = dns_pr.subtract(blacklist, nb_cpu=2)
len(dns_pr)

210691

In [ ]:
dns_pr.to_csv('/content/drive/MyDrive/Triplexes/mm/data/omics_raw/dns.bed', sep="\t", header=True)

In [ ]:
del dns_pr

##RNA polymerase

###Reading data

Data from Chip-Atlas, downloading is in a seperate file.

In [ ]:
pol = pd.read_pickle('/content/drive/MyDrive/Triplexes/mm/data/pol.pickle')
pol = pd.DataFrame(pol, columns=['Chromosome', 'Start', 'End', 'Factor', 'Cell_type', 'Score'])
pol.head()

  Chromosome    Start      End Factor Cell_type Score
0       chr1  3822643  3822751    RNA   B_cells   208
1       chr1  4249843  4249981    RNA   B_cells   214
2       chr1  4249846  4249981    RNA   B_cells   188
3       chr1  4480812  4480990    RNA   B_cells   193
4       chr1  4689312  4689465    RNA   B_cells   185

In [ ]:
pol_pr = pr.PyRanges(pol)

###Sorting

In [ ]:
pol_pr = pol_pr.sort(nb_cpu=2)

###Filtering for black-listed regions

In [ ]:
pol_pr = pol_pr.subtract(blacklist, nb_cpu=2)
len(pol_pr)

396436

In [ ]:
pol_pr.to_csv('/content/drive/MyDrive/Triplexes/mm/data/omics_raw/pol.bed', sep="\t", header=True)
pol_pr.head()

  Chromosome    Start      End Factor Cell_type  Score
0       chr1  3822643  3822751    RNA   B_cells    208
1       chr1  4249843  4249981    RNA   B_cells    214
2       chr1  4249846  4249981    RNA   B_cells    188
3       chr1  4480812  4480990    RNA   B_cells    193
4       chr1  4689312  4689465    RNA   B_cells    185

In [ ]:
del pol

##Transcription factors and others

###Reading data

Data from Chip-Atlas, downloading is in a seperate file.

In [ ]:
tf = pd.read_pickle('/content/drive/MyDrive/Triplexes/mm/data/oth.pickle')
tf = pd.DataFrame(tf, columns=['Chromosome', 'Start', 'End', 'Factor', 'Cell_type', 'Score'])
tf.head()

  Chromosome    Start      End Factor Cell_type Score
0       chr1  3011930  3011964   Rag1   B_cells   223
1       chr1  3013990  3014046   Rpa1   B_cells   217
2       chr1  3013998  3014044   Rpa1   B_cells   209
3       chr1  3031492  3031662  Nipbl   B_cells   134
4       chr1  3031515  3031672  Nipbl   B_cells   140

In [ ]:
tf = pr.PyRanges(tf)

###Sorting

In [ ]:
tf = tf.sort(nb_cpu=2)

###Filtering for black-listed regions

In [ ]:
tf = tf.subtract(blacklist, nb_cpu=2)
len(tf)

4417968

In [ ]:
tf.to_csv('/content/drive/MyDrive/Triplexes/mm/data/omics_raw/tf.bed', sep="\t", header=True)
tf.head()

  Chromosome    Start      End Factor Cell_type  Score
0       chr1  3011930  3011964   Rag1   B_cells    223
1       chr1  3013990  3014046   Rpa1   B_cells    217
2       chr1  3013998  3014044   Rpa1   B_cells    209
3       chr1  3031492  3031662  Nipbl   B_cells    134
4       chr1  3031515  3031672  Nipbl   B_cells    140

In [ ]:
del tf

##Histone marks

###Reading data

Data from Chip-Atlas, downloading is in a seperate file.

In [ ]:
his = pd.read_pickle('/content/drive/MyDrive/Triplexes/mm/data/his.pickle')
his = pd.DataFrame(his, columns=['Chromosome', 'Start', 'End', 'Factor', 'Cell_type', 'Score'])
his.head()

  Chromosome    Start      End   Factor Cell_type Score
0       chr1  3003324  3003969  H3K9me3   B_cells   177
1       chr1  3020606  3021018  H3K9me3   B_cells   149
2       chr1  3028968  3029143  H3K9me3   B_cells   140
3       chr1  3037743  3038132  H3K9me3   B_cells   149
4       chr1  3052982  3053159  H3K9me3   B_cells   177

In [ ]:
his = pr.PyRanges(his)

###Sorting

In [ ]:
his = his.sort(nb_cpu=2)

###Filtering for black-listed regions

In [ ]:
his = his.subtract(blacklist)
len(his)

4589459

In [ ]:
his.to_csv('/content/drive/MyDrive/Triplexes/mm/data/omics_raw/his.bed', sep="\t", header=True)